:root {
    --paletteColor1: #000;
    --paletteColor2: #FFF;
    --paletteColor3: #E9EBEE;
    --paletteColor4: #808080;
    --paletteColor5: #90949C;
    --paletteColor6: #4267B2;
    --paletteColor7: #365899;
    --paletteColor8: #282828;
    --paletteColor9: #616770;
    --paletteColor10: #E1E2E3;
    --paletteColor11: #F6F7F9;
    --paletteColor12: #DDD;
    --paletteColor13: #F25A41;
}
